.DS_Store
.vscode/
.idea/

__pycache__/
*.egg*/
dist/
build/
.pytest_cache/
.ruff_cache/
.cache/
.pre-commit-cache/

.venv/
venv/
.conda/
*.conda
.env
.env.*
!.env.example

.ipynb_checkpoints/

wandb/
.wandb/
wandb_run_*/
outputs/
*.weights.h5
*.tflite
*.keras

*.pt
*.pth
*.ckpt
*.onnx
*.npz